<app-header></app-header>

<div class="loading" *ngIf="loading">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>

<!--================Single Product Area =================-->
<div class="product_image_area section_padding">
    <div class="container">
        <div class="row s_product_inner justify-content-between">
            <div class="col-lg-7 col-xl-7">
                <div class="product_slider_img">
                    <div id="vertical">
                        <div *ngFor="let imagen of producto.imagenes" [attr.data-thumb]="imagen" class="text-center">
                            <img [src]="imagen" height="350" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="s_product_text">
                    <!--<h5>previous <span>|</span> next</h5>-->
                    <div class="alert alert-warning" *ngIf="subastaCerrada">
                        SUBASTA CERRADA
                    </div>
                    <h3>{{producto.nombre}}</h3>
                    <h2 *ngIf="producto.precioNuevo">
                        {{producto.precioNuevo | customCurrency }} <small *ngIf="producto.precioAntiguo"
                            class="old-price">{{producto.precioAntiguo | customCurrency }}</small>
                    </h2>
                    <ul class="list">
                        <li *ngIf="mapaDeCategorias">
                            <a class="active" href="#" style="font-weight: 600">
                                <span>Categoria</span> : {{mapaDeCategorias[producto.categoria]}}</a>
                        </li>
                        <!--   
                        <li>
                            <a href="#"> <span>Estado</span> : Nuevo</a>
                        </li>
                    -->
                        <li *ngIf="!subastaCerrada">
                            <a href="#"> <span>Comienza el</span> :
                                {{producto.fechaInicio?.toDate() | formatoFecha: 'DD/MM/YYYY'}}</a>
                        </li>
                        <li>
                            <a href="#"> <span>Cierre</span> :
                                {{producto.fechaFin?.toDate() | formatoFecha: 'DD/MM/YYYY'}}</a>
                        </li>
                        <li class="mt-2">
                            <a href="#"> <i class="fa fa-map-marker-alt"></i> Lima</a>
                        </li>
                    </ul>
                    <blockquote class="generic-blockquote mt-3">{{producto.descripcion}}</blockquote>
                    <div class="card_area d-flex justify-content-between align-items-center"
                        *ngIf="!mostrarFormularioAOfertar && !esMiProductoOfertado && !subastaCerrada">
                        <a href="javascript:void(0)" class="btn_3" (click)="mostrarFormularioOfertarFn()">OFERTAR</a>
                        <!--
                        <a href="javascript:void(0)" class="like_us"> <i class="ti-heart"></i> </a>
                -->
                    </div>
                    <div class="card_area d-flex align-items-center" *ngIf="mostrarFormularioAOfertar">
                        <div class="product_count">
                            <button class="number-decrement" (click)="restarCantidadAOfertar()"> <i
                                    class="ti-minus"></i></button>
                            <input class="input-number" type="text" [value]="cantidadAOfertar | customCurrency "
                                disabled="disabled">
                            <button class="number-increment" (click)="aumentarCantidadAOfertar()"> <i
                                    class="ti-plus"></i></button>
                        </div>
                        <a href="javascript:void(0)" class="genric-btn info circle" (click)="registrarOferta()"><i
                                class="fa fa-check"></i></a>
                        <a href="javascript:void(0)" class="genric-btn default circle"
                            (click)="mostrarFormularioAOfertar = false"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" *ngIf="subastaCerrada">
                <a class="nav-link" [ngClass]="{'active': subastaCerrada}" id="ofertas-tab" data-toggle="tab"
                    href="#ganador" role="tab" aria-controls="ganador" aria-selected="true">Ganador</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': !subastaCerrada}" id="ofertas-tab" data-toggle="tab"
                    href="#ofertas" role="tab" aria-controls="ofertas" aria-selected="true">Ofertas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contacto-tab" data-toggle="tab" href="#contacto" role="tab"
                    aria-controls="contacto" aria-selected="true">Contacto</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" [ngClass]="{'show active': subastaCerrada}" id="ganador" role="tabpanel"
                aria-labelledby="ganador-tab" *ngIf="subastaCerrada">
                <div class="col-lg-10 col-lx-4">
                    <div class="confirmation_part">
                        <div class="single_confirmation_details">
                            <div class="row total_rate" *ngIf="usuarioGanador && !loading">
                                <div class="col-4">
                                    <div class="box_total">
                                        <h5>Calificación</h5>
                                        <h4>{{(usuarioGanador?.calificacion || 0.0) | number: '1.1-1'}}</h4>
                                        <div class="rating_list"
                                            *ngIf="!(esMiProductoOfertado && !producto.usuarioCalificado)">
                                            <ul class="list">
                                                <li style="padding-left: 0;">
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-star"
                                                            *ngIf="(usuarioGanador?.calificacion || 0) >= 1"></i>
                                                        <i class="fa fa-star"
                                                            *ngIf="(usuarioGanador?.calificacion || 0) >= 2"></i>
                                                        <i class="fa fa-star"
                                                            *ngIf="(usuarioGanador?.calificacion || 0) >= 3"></i>
                                                        <i class="fa fa-star"
                                                            *ngIf="(usuarioGanador?.calificacion || 0) >= 4"></i>
                                                        <i class="fa fa-star"
                                                            *ngIf="(usuarioGanador?.calificacion || 0) == 5"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="rating_list" *ngIf="esMiProductoOfertado && !producto.usuarioCalificado">
                                            <ul class="list">
                                                <li style="padding-left: 0;">
                                                    <a href="javascript:void(0)">
                                                        {{calificacion}}
                                                        <i class="far fa-star" (click)="calificar(1)"
                                                            [ngClass]="{'fa': calificacion >= 1}"></i>
                                                        <i class="far fa-star" (click)="calificar(2)"
                                                            [ngClass]="{'fa': calificacion >= 2}"></i>
                                                        <i class="far fa-star" (click)="calificar(3)"
                                                            [ngClass]="{'fa': calificacion >= 3}"></i>
                                                        <i class="far fa-star" (click)="calificar(4)"
                                                            [ngClass]="{'fa': calificacion >= 4}"></i>
                                                        <i class="far fa-star" (click)="calificar(5)"
                                                            [ngClass]="{'fa': calificacion >= 5}"></i>
                                                    </a>
                                                </li>
                                                <br />
                                                <button class="genric-btn info-border"
                                                    (click)="enviarCalificacion()"><span>CALIFICAR</span></button>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <h3>GANADOR DE LA SUBASTA</h3>
                                    <ul>
                                        <li>
                                            <p>Nombres</p><span>: {{usuarioGanador?.nombres}}</span>
                                        </li>
                                        <li>
                                            <p>Apellidos</p><span>: {{usuarioGanador?.apellidos}}</span>
                                        </li>
                                        <li>
                                            <p>Email</p><span>: {{usuarioGanador?.email}}</span>
                                        </li>
                                        <li>
                                            <p>Teléfono</p><span>: {{usuarioGanador?.telefono}}</span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div *ngIf="!usuarioGanador && !loading">
                                No hubo un ganador en esta subasta
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" [ngClass]="{'show active': !subastaCerrada}" id="ofertas" role="tabpanel"
                aria-labelledby="ofertas-tab">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">Fecha</th>
                                <th class="text-left" scope="col">Usuario</th>
                                <th class="text-right" scope="col">Precio Anterior</th>
                                <th class="text-right" scope="col">Nuevo Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ofertaObject of ofertas">
                                <td class="text-center">{{ofertaObject.fecha?.toDate() | formatoFecha}}</td>
                                <th scope="row" class="text-left">
                                    <i class="fa fa-user"></i> {{ofertaObject.usuario.nombre}}
                                </th>
                                <td class="text-right">{{ofertaObject.precioAntiguo | customCurrency }}</td>
                                <td class="text-right">{{ofertaObject.precioNuevo | customCurrency }}</td>
                            </tr>
                            <tr *ngIf="!ofertas?.length">
                                <td colspan="4">
                                    Aún no hay ofertas para este producto
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="contacto" role="tabpanel" aria-labelledby="contacto-tab">
                <div class="col-lg-10 col-lx-4">
                    <div class="confirmation_part">
                        <div class="single_confirmation_details">
                            <div class="row total_rate">
                                <div class="col-4">
                                    <div class="box_total">
                                        <h5>Calificación</h5>
                                        <h4>{{(usuarioSubastador?.calificacion || 0.0) | number: '1.1-1'}}</h4>
                                        <div class="rating_list">
                                            <ul class="list">
                                                <li style="padding-left: 0;">
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-star"
                                                            *ngIf="(usuarioSubastador?.calificacion || 0) >= 1"></i>
                                                        <i class="fa fa-star"
                                                            *ngIf="(usuarioSubastador?.calificacion || 0) >= 2"></i>
                                                        <i class="fa fa-star"
                                                            *ngIf="(usuarioSubastador?.calificacion || 0) >= 3"></i>
                                                        <i class="fa fa-star"
                                                            *ngIf="(usuarioSubastador?.calificacion || 0) >= 4"></i>
                                                        <i class="fa fa-star"
                                                            *ngIf="(usuarioSubastador?.calificacion || 0) == 5"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--<h6>(03 votos)</h6>-->
                                    </div>
                                </div>
                                <div class="col-8">
                                    <h4>Resumen de contacto</h4>
                                    <ul>
                                        <li>
                                            <p>Nombres</p><span>: {{usuarioSubastador?.nombres}}</span>
                                        </li>
                                        <li>
                                            <p>Apellidos</p><span>: {{usuarioSubastador?.apellidos}}</span>
                                        </li>
                                        <li>
                                            <p>Email</p><span>: {{usuarioSubastador?.email}}</span>
                                        </li>
                                        <li>
                                            <p>Teléfono</p><span>: {{usuarioSubastador?.telefono}}</span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->


<app-footer></app-footer>