.section_padding {
  padding: 100px 0px 0px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 24, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .section_padding {
    padding: 100px 0px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 24, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .section_padding {
    padding: 70px 0px 0px;
  }
}

@media (max-width: 576px) {
  /* line 24, ../../01 cl html template/03_jun 2019/188_Aranoz shop_html/sass/_common.scss */
  .section_padding {
    padding: 70px 0px;
  }
}

.product_description_area {
    margin-top: 30px;
}