<app-header></app-header>

<!--================Single Product Area =================-->
<div class="product_image_area section_padding">
    <div class="container">
        <div class="row s_product_inner justify-content-between">
            <div class="col-lg-7 col-xl-7">
                <div class="product_slider_img">
                    <div id="vertical">
                        <div data-thumb="assets/img/temp/producto_1_a.jpg">
                            <img src="assets/img/temp/producto_1_a.jpg" />
                        </div>
                        <div data-thumb="assets/img/temp/producto_1_b.jpg">
                            <img src="assets/img/temp/producto_1_b.jpg" />
                        </div>
                        <div data-thumb="assets/img/temp/producto_1_c.jpg">
                            <img src="assets/img/temp/producto_1_c.jpg" />
                        </div>
                        <div data-thumb="assets/img/temp/producto_1_d.jpg">
                            <img src="assets/img/temp/producto_1_d.jpg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="s_product_text">
                    <!--<h5>previous <span>|</span> next</h5>-->
                    <h3>ONE PIECE - FIGURA MONKEY D LUFFY</h3>
                    <h2>S/ 60.00</h2>
                    <ul class="list">
                        <li>
                            <a class="active" href="#">
                                <span>Categoria</span> : Figuras de acción</a>
                        </li>
                        <li>
                            <a href="#"> <span>Estado</span> : Nuevo</a>
                        </li>
                        <li>
                            <a href="#"> <span>Cierre</span> : 04 de setiembre</a>
                        </li>
                        <li>
                            <a href="#"> <i class="fa fa-map-marker-alt"></i> Lima</a>
                        </li>
                    </ul>
                    <p>
                        First replenish living. Creepeth image image. Creeping can't, won't called.
                        Two fruitful let days signs sea together all land fly subdue
                    </p>
                    <div class="card_area d-flex justify-content-between align-items-center">
                        <!--
                        <div class="product_count">
                            <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                            <input class="input-number" type="text" value="1" min="0" max="10">
                            <span class="number-increment"> <i class="ti-plus"></i></span>
                        </div>
                    -->
                        <a href="#" class="btn_3">OFERTAR</a>
                        <a href="#" class="like_us"> <i class="ti-heart"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Descripción</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <blockquote class="generic-blockquote">
                    <p>
                        Figura de Luffy One Piece de 17 cm de alto aproximadamente

                        Hacemos envíos a Nivel Nacional vía Olva Courier o CIVA
                        Entregas en Lima Centro Cívico Real Plaza, si es otro lugar previa coordinación.
                        HACEMOS DELIVERY

                        ENTREGAMOS BOLETA DE VENTA


                        PASADO 2 DÍAS DE HABER REALIZADO LA COMPRA Y NO SE CONCRETA NADA, SE PROCEDERÁ A CALIFICAR COMO
                        NEGATIVO AL COMPRADOR

                        REALICE LAS PREGUNTAS NECESARIAS ANTES DE PROCEDER A REALIZAR SU COMPRA .
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->


<app-footer></app-footer>