<app-header></app-header>

<div class="loading" *ngIf="loading">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>

<!--================Single Product Area =================-->
<div class="product_image_area section_padding">
    <div class="container">
        <div class="row s_product_inner justify-content-between">
            <div class="col-lg-7 col-xl-7">
                <div class="product_slider_img">
                    <div id="vertical">
                        <div *ngFor="let imagen of producto.imagenes" [attr.data-thumb]="imagen" class="text-center">
                            <img [src]="imagen" height="350" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="s_product_text">
                    <!--<h5>previous <span>|</span> next</h5>-->
                    <h3>{{producto.nombre}}</h3>
                    <h2>S/ {{producto.precioNuevo}}</h2>
                    <ul class="list">
                        <li *ngIf="mapaDeCategorias">
                            <a class="active" href="#" style="font-weight: 600">
                                <span>Categoria</span> : {{mapaDeCategorias[producto.categoria]}}</a>
                        </li>
                        <!--   
                        <li>
                            <a href="#"> <span>Estado</span> : Nuevo</a>
                        </li>
                    -->
                        <li>
                            <a href="#"> <span>Comienza el</span> : 04 de setiembre</a>
                        </li>
                        <li>
                            <a href="#"> <span>Cierre</span> : 04 de setiembre</a>
                        </li>
                        <li class="mt-2">
                            <a href="#"> <i class="fa fa-map-marker-alt"></i> Lima</a>
                        </li>
                    </ul>
                    <blockquote class="generic-blockquote mt-3">{{producto.descripcion}}</blockquote>
                    <div class="card_area d-flex justify-content-between align-items-center"
                        *ngIf="!mostrarFormularioAOfertar && !esMiProductoOfertado">
                        <a href="javascript:void(0)" class="btn_3" (click)="mostrarFormularioOfertarFn()">OFERTAR</a>
                        <a href="javascript:void(0)" class="like_us"> <i class="ti-heart"></i> </a>
                    </div>
                    <div class="card_area d-flex align-items-center" *ngIf="mostrarFormularioAOfertar">
                        <div class="product_count">
                            <button class="number-decrement" (click)="restarCantidadAOfertar()"> <i
                                    class="ti-minus"></i></button>
                            <input class="input-number" type="text" [value]="cantidadAOfertar" disabled="disabled">
                            <button class="number-increment" (click)="aumentarCantidadAOfertar()"> <i
                                    class="ti-plus"></i></button>
                        </div>
                        <a href="javascript:void(0)" class="genric-btn info circle" (click)="registrarOferta()"><i
                                class="fa fa-check"></i></a>
                        <a href="javascript:void(0)" class="genric-btn default circle"
                            (click)="mostrarFormularioAOfertar = false"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="ofertas-tab" data-toggle="tab" href="#ofertas" role="tab"
                    aria-controls="ofertas" aria-selected="true">Ofertas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contacto-tab" data-toggle="tab" href="#contacto" role="tab"
                    aria-controls="contacto" aria-selected="true">Contacto</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="ofertas" role="tabpanel" aria-labelledby="ofertas-tab">

            </div>
            <div class="tab-pane fade" id="contacto" role="tabpanel" aria-labelledby="contacto-tab">

            </div>
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->


<app-footer></app-footer>