.login_part_form {
    max-width: 440px;
    margin: 0 auto;
    padding: initial !important;
    padding-top: 0px !important;
    height: auto;
}

.login_part .login_part_form h3 {
    margin-bottom: 20px;
}

.login_part .login_part_form h3 a {
    color: #ff3368;
    text-decoration: underline;
}