<app-header></app-header>
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
       <div class="row justify-content-center">
          <div class="col-lg-8">
             <div class="breadcrumb_iner">
                <div class="breadcrumb_iner_item">
                   <h2>Lo sentimos</h2>
                   <p>La página solicitada no existe :(</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- breadcrumb start-->
<app-footer></app-footer>