<app-header></app-header>

<div class="loading" *ngIf="loading">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>

<section class="contact-section padding_top">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Mis datos</h2>
            </div>
            <div class="col-lg-8">
                <form class="form-contact contact_form" autocomplete="off" id="contactForm" novalidate="novalidate"
                    #myForm="ngForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Nombres: </label>
                                <input class="form-control" [disabled]="!mostrarFormulario" name="nombres"
                                    required="required" [(ngModel)]="usuario.nombres" #nombres="ngModel">

                                <div *ngIf="myForm.submitted && nombres.invalid" class="invalid-message">
                                    <span *ngIf="nombre.errors.required">Campo requerido</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Apellidos: </label>
                                <input class="form-control" [disabled]="!mostrarFormulario" name="apellidos"
                                    required="required" [(ngModel)]="usuario.apellidos" #apellidos="ngModel">

                                <div *ngIf="myForm.submitted && nombres.invalid" class="invalid-message">
                                    <span *ngIf="nombre.apellidos.required">Campo requerido</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Email: </label>
                                <input class="form-control" disabled [value]="usuario?.email">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Teléfono: </label>
                                <input class="form-control" [disabled]="!mostrarFormulario" name="telefono"
                                    [(ngModel)]="usuario.telefono" #telefono="ngModel">

                                <div *ngIf="myForm.submitted && telefono.invalid" class="invalid-message">
                                    <span *ngIf="nombre.telefono.required">Campo requerido</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="button" class="genric-btn primary circle" (click)="actualizarDatos()"
                                *ngIf="!mostrarFormulario">Actualizar
                                datos</button>
                            <button type="button" class="genric-btn primary circle"
                                (click)="actualizarDatosSubmit(myForm)" *ngIf="mostrarFormulario">Guardar</button>
                            <button type="button" class="genric-btn link-border circle" (click)="cancelar()"
                                *ngIf="mostrarFormulario">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="order_box" style="padding-left: 20px;padding-right: 20px;">
                    <div class="single-element-widget">
                        <h4 class="mb-30">Mis Preferencias</h4>
                        <div class="switch-wrap d-flex justify-content-between"
                            *ngFor="let preferencia of preferencias">
                            <p> {{preferencia.nombre}} </p>
                            <div class="primary-checkbox">
                                <input type="checkbox" id="default-checkbox-{{preferencia.id}}"
                                    [(ngModel)]="preferencia.checked">
                                <label for="default-checkbox-{{preferencia.id}}"></label>
                            </div>
                        </div>
                        <div class="form-group mt-30">
                            <a href="javascript:void(0)" class="btn_3 button-contactForm"
                                (click)="guardarPreferencias()">Guardar preferencias</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>