<div class="card ">
    <div class="card-body text-center">
        <p class="card-text"></p>
        <div class="text-left">
            <b>CONDICIONES GENERALES DE CONTRATACIÓN PARA TIENDAS ONLINE</b>
            <p>
                https://bealpaca.com/ (en adelante, la Web) es un sitio web propiedad de ANDEAN KATARI S.L., en adelante
                EL PROPIETARIO, con CIF/NIF nº: B87267555 y domicilio social en: Avda. De La Tribuna, nº11, C.P. 28708 –
                San Sebastián De Los Reyes (Madrid).

                El acceso, reproducción y uso de los servicios de la Web requiere la aceptación previa de las
                Condiciones de Uso vigentes en cada momento; EL PROPIETARIO se reserva el derecho de modificar dichas
                Condiciones cuando lo considere oportuno, mediante la publicación del nuevo texto en la Web.

                Es responsabilidad del usuario conocer las Condiciones de Uso antes de acceder a los productos y
                servicios de la Web; en caso de no estar conforme con las mismas, le rogamos, se abstenga de utilizarla.
            </p>
            <b>PROPIEDAD</b>
            <p>
                La Web es una obra compuesta de diversos elementos integrados e inseparables (texto, ilustraciones,
                fotografías, imágenes animadas, vídeos, programas de ordenador, incluidos los códigos html del sitio
                web, etc.), cuya Propiedad Intelectual le corresponde a EL PROPIETARIO, salvo en lo referente a aquellos
                materiales obtenidos bajo licencia de terceros.

                EL PROPIETARIO y sus licenciantes retienen en todo momento la Propiedad Intelectual sobre la Web y sobre
                los distintos elementos que la componen, individualmente considerados, en todas las copias que se
                realicen (cualquiera que sea el soporte al que se incorporen), concediendo sobre los mismos únicamente
                los derechos de uso que más adelante se describen. Cualquier derecho que no sea expresamente cedido se
                entiende reservado. Además de lo anterior, EL PROPIETARIO es responsable de la selección, diseño de la
                estructura y disposición de los contenidos de la Web, así como quien ha tomado la iniciativa y asumido
                el riesgo de efectuar las inversiones sustanciales orientadas a la obtención, digitalización y
                presentación de la misma, correspondiéndole, por tanto, la protección que el artículo 12 y el Título
                VIII del Libro II de la Ley de Propiedad Intelectual pueda conceder sobre el sitio web, considerado como
                una base de datos.

                EL PROPIETARIO es también el único dueño del diseño e imagen gráfica de la Web, reservándose las
                acciones legales pertinentes que le pudieran corresponder contra las personas que realicen imitaciones o
                usos desleales del mismo.
            </p>
            <b>CONTENIDOS WEB Y DESCARGAS. USOS PERMITIDOS Y PROHIBIDOS</b>
            <p>
                Está permitida:

                La navegación por la Web, es decir, el acceso y visualización de la misma en un dispositivo, quedando
                autorizada cualquier reproducción temporal o accesoria, siempre que la misma no sea voluntaria y forme
                parte
                integrante y esencial del proceso tecnológico de transmisión. La navegación por determinadas secciones
                de la
                Web requieren el previo registro.
                Beneficiarse (previo registro), de los servicios y ventajas prestados por EL PROPIETARIO a través de la
                Web
                a sus usuarios, en las condiciones que se señalen expresamente en las distintas secciones.
                Queda terminantemente prohibido:

                Cualesquiera operaciones respecto de la Web, sus contenidos, los productos descargados y las copias de
                todos
                ellos que sean contrarias a la Ley, las buenas costumbres y la buena fe.
                Cualquier utilización fuera del ámbito personal y privado, especialmente aquellas que tengan fines
                comerciales o profesionales, incluido el envío de publicidad o mensajes y la recopilación y tratamiento
                de
                datos de terceros.
                Cualquier tipo de extracción, comunicación pública y/o transmisión, total o parcial, por cualquier
                medio,
                fuera del ámbito privado de uso permitido y, especialmente, su incorporación a cualquier otra obra,
                incluidas páginas web, colecciones o bases de datos. Se exceptúa de esta prohibición la publicación en
                medios de comunicación de los materiales susceptibles de descarga de la sección Sala de Prensa.
                La remoción, ocultación o falseamiento de los avisos y advertencias sobre la Propiedad Intelectual o
                Industrial de la Web o de cualquiera de los productos facilitados a través de la misma.
                Las operaciones y actividades expresamente prohibidas en cualesquiera otras secciones de estas
                Condiciones
                Generales y, en general, cualquiera que pueda perjudicar el normal funcionamiento de la Web, a otros
                usuarios o a cualquier tercero.
            </p>
        </div>
    </div>
</div>